# Traversing folders
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Programs
alias st='subl'
alias v='vim'
alias vi='vim'
alias explore='nautilus'

# Elevated permissions
alias please='echo "password" | sudo -S'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
    colorflag='--color'
else
    colorflag='-G'
fi

# List all files in colorized long format
alias l='ls -lF ${colorflag}'
alias ls'ls -a ${colorflag}'
# List files including dotfiles
alias la='ls -laF ${colorflag}'
alias lsa'ls -la ${colorflag}'

# Git shortcuts
alias undopush='git push -f origin HEAD^:master'
alias undocommit='git reset --soft "HEAD^"'
alias undostage='git reset HEAD'

alias pogi='add something'



